---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import AboutUs from '../components/AboutUs.astro';
import Projects from '../components/Projects.astro';
import Contact from '../components/Contact.astro';
---

<Layout title="Codemadi">
	<Header />
	<main>
		<Hero />
		<AboutUs />
		<Projects />
		<Contact />
	</main>
</Layout>